body,.ui-page {
background-image: url('./images/background.png');
}
a:link{text-decoration : none ;color : black ;}
#div_content{
	height:40%;
	text-align:center;
	border:3px solid gray;
	margin:0px 5px 5px 5px;
}

#btnVisit{
opacity:1;
}

#div_main_logo{
	margin-top:5px;
	opacity:1;
	/*background-image: url('./images/background.png');*/
	text-align:center;
}

#div_main_logo img{
	width:70%;
	height: 45px;
}

.div_main_logo{
	width:70%;
	height: 45px;
}

#div_head{
	background-image: url('./images/top_bar.jpg');
	background-repeat:repeat;
	text-align:center;
}

.head_bg{
	background-image: url('./images/top_bar.jpg');
	background-repeat:repeat;
	padding-top:5px;
}

#btn_login{
	width:80px;
	height:30px;
}

#div_head table tr td{

	height: 10px; width: 14%;
	vertical-align:bottom;
}
#category_bar_container{
	border:0px; 
	/*
	padding:0px 20px 5px 20px;*/
	/*background-color:white;*/
	/*background-image: url('./images/background.png');*/	
}

.category_bar{
	width:100%;
	float:left;
	background-color:#6e8cff;
}
.category_bar_selected{
	width:100%;
	float:left;
	background-color:#06456d;
}

#list_container{
	padding-left:15px;
	padding-right:20px;
}
#intro_list li{
	text-align: center; 
	width: 90%;
}
#div_attach{
	position:absolute;border:2px solid gray;width:100%;height:50%;top:25%;z-index:998;display:none;
}
.div_attach{
	position:absolute;border:2px solid gray;width:100%;height:50%;top:25%;z-index:998;display:none;
}
.div_center{
	position:absolute;border:0px solid gray;
	display:none;
	width:100%;height:50%;top:25%;z-index:99999;
	text-align:center;
}

#discussion_post_comment{
	position:absolute; 
	bottom:0;
	width:100%;
	height:40px;
	line-height:40px; 
	left:0;
	border:2px solid gray;
	font-family:"Times New Roman";
	font-style:oblique;
	background-color:white;
	z-index:4;
}

#userinfo_content{
	background-color:white;
	position:absolute;border:4px solid gray;width:90%;height:80%;margin-left:10px;margin-top:20px;
}

#userinfo_inner_content{
	border:1px solid gray;width:100%;height:85%;
}

#userinfo_bg{
	background-color:white;position:absolute;width:100%;height:92%;
}

#choice_bg{
	position: absolute; bottom: 0; width: 100%; left: 0; height: 150px;text-align:center;
}

#choice_bg img{
	width:60%;
	height:70%;
}

#choicePanelContainer{
	position: absolute; bottom: 0px; width: 100%; left: 0; height: 80px;text-align:center;
	z-index:1;
}

#choicePanelContainer img{
	width:40px;
}
.choicePanelMarginTd{
	width:35%;
}
.choice_panel_img_two_btn{
	width:100%;
	height:30px;
}
#workspace{
	background-image: url('./images/ws_tile.jpg');
	
	background-repeat:repeat;
	position:absolute;width:100%;height:90%;border:2px solid gray;margin-top:0px;
	margin-right:10px;
}
#i_workspace{
	width:100%;
	height:100%;
	background-color:white;
	border:0px solid gray;
	margin-top:10px;
	margion-left:10px;
}
#video_container{
	position: absolute; bottom: 0; width: 100%; left: 0; height: 150px;text-align:right;
	z-index:1;
	diaplay:none;
}
#popContent{
	width:600px;
	height:450px;
}
#painter_controller{
	position: absolute; top: 50px; right: 0; text-align:right;
	z-index:1;
}
#painter_controller_content{
	position: absolute; top: 50px; left:85%; text-align:right;
	z-index:1;
	display:none;
}
#painter_controller_up{
	position: absolute; bottom: 0; left: 85%;text-align:right;
	border:0px solid red;
	z-index:2;
	display:none;
}

#canvas_replay_btn_container{
	position: absolute; bottom: 0;  left: 0; height: 150px;
	z-index:2;
	display:none;
}

#thumb_nail{
	
	width:300px; 
	height: 200px; 
	line-height: 50px; 
	border: 0px solid red; 
	text-align: center;
}

#wrapper_discussion{
	top: 40px;
	height:90%;
}