<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>&lt;strong style=&quot;font-size:medium;font-family:&apos;Times New Roman&apos;;font-weight:normal&quot;&gt;&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;Kaplan &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; &lt;span class=&quot;il&quot;&gt;Quiz&lt;/span&gt; &lt;span class=&quot;il&quot;&gt;U&lt;/span&gt; allows you to squeeze serious &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; prep into your busy schedule. Get real practice &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; questions in timed mini &lt;span class=&quot;il&quot;&gt;quizzes&lt;/span&gt;, helping you study the most valuable, score-raising topics in &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; Math, &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; Critical Reading and &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; Writing.&lt;/span&gt;&lt;br /&gt;
&lt;br /&gt;
&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;Features:&lt;/span&gt;&lt;br /&gt;
&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;- FREE timed diagnostic &lt;span class=&quot;il&quot;&gt;quiz&lt;/span&gt; for each section tells you what topics you should focus your study on to raise your &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; score more quickly&lt;/span&gt;&lt;br /&gt;
&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;- Access to more than 450 &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; practice questions (upgrade required to access all questions)&lt;/span&gt;&lt;br /&gt;
&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;- Full answers &amp;amp; detailed explanations for every practice question taught by certified Kaplan &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; teachers&lt;/span&gt;&lt;br /&gt;
&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;- Challenge yourself with a practice set of the highest difficulty questions for each &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; section (upgrade required)&lt;/span&gt;&lt;br /&gt;
&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;- Get immediate feedback on your overall progress as you study &amp;amp; master new &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; topics&lt;/span&gt;&lt;br /&gt;
&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;- Use the discussion feature to ask your questions to Kaplan &lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; teachers, and get a response within 24 hours!&lt;/span&gt;&lt;br /&gt;
&lt;br /&gt;
&lt;span style=&quot;font-size:15px;font-family:Arial;background-color:transparent;vertical-align:baseline;white-space:pre-wrap&quot;&gt;&lt;span class=&quot;il&quot;&gt;SAT&lt;/span&gt; is a registered trademark of the College Board. The College Board does not sponsor or endorse this product.&lt;/span&gt;&lt;/strong&gt;&lt;br clear=&quot;all&quot; /&gt;
&lt;div&gt;&lt;br /&gt;
&lt;/div&gt;</string>
		<key>name</key>
		<string>Kaplan SAT Quiz U</string>
	</dict>
	<dict>
		<key>content</key>
		<string>The Company text</string>
		<key>name</key>
		<string>Go To Arcadia-Apps.com</string>
	</dict>
</array>
</plist>
