<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Algebra Practice Pack</string>
				<key>Text</key>
				<string>&lt;div style=&quot;margin:0px;width:100%;background-color:#202060;color:white&quot;&gt;
&lt;p style=&quot;width: 100%; background-color: rgb(16, 176, 240); color: white;&quot;&gt;Learn how to ace Algebra questions on Test Day!&lt;/p&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;ul&gt;
	&lt;li&gt;8 timed mini quizzes&lt;/li&gt;
	&lt;li&gt;Quizzes include 40 mixed difficulty Algebra questions&lt;/li&gt;
	&lt;li&gt;Full answers &amp;amp; explanations taught by certified Kaplan teachers&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;p&gt;&lt;a style=&quot;background-color: #8AC007;border: 1px solid #AAAAAA;border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0;
    padding: 3px 10px 4px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp; Get all 8 quizzes &amp;nbsp; &amp;nbsp;&amp;nbsp; &lt;/a&gt;&lt;/p&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;/div&gt;
</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>Free</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_Algebra.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_algebra</string>
			<key>ProblemSets</key>
			<array>
				<string>1189</string>
				<string>1190</string>
				<string>1191</string>
				<string>1194</string>
				<string>1192</string>
				<string>1193</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Algebra Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Math</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Arithmetic Practice Pack</string>
				<key>Text</key>
				<string>&lt;div style=&quot;height: auto !important;height:100%;width:100%;color:white&quot;&gt;&lt;br&gt;&lt;br&gt;
&lt;p style=&quot;width: 100%; background-color: rgb(16, 176, 240); color: white;&quot;&gt;Learn how to ace Algebra questions on Test Day!&lt;/p&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;ul&gt;
	&lt;li&gt;8 timed mini quizzes&lt;/li&gt;
	&lt;li&gt;Quizzes include 40 mixed difficulty Algebra questions&lt;/li&gt;
	&lt;li&gt;Full answers &amp;amp; explanations taught by certified Kaplan teachers&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;
&lt;p&gt;&lt;a style=&quot;background-color: #8AC007;border: 1px solid #AAAAAA;border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0;
    padding: 3px 10px 4px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; Get all 8 quizzes &amp;nbsp;&amp;nbsp; &amp;nbsp;&amp;nbsp; &lt;/a&gt;&lt;/p&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;/div&gt;
</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_Arithmetic.png</string>
			<key>DownloadUrl</key>
			<string>http://kaplan.arcadia-apps.com/_download/arith.tar</string>
			<key>RequireDownload</key>
			<true/>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_arith</string>
			<key>ProblemSets</key>
			<array>
				<string>1195</string>
				<string>1196</string>
				<string>1197</string>
				<string>1198</string>
				<string>1199</string>
				<string>1200</string>
				<string>1221</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Arithmetic Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Math</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Geometry Practice Pack</string>
				<key>Text</key>
				<string>&lt;div style=&quot;height:100%;width:100%;&quot;&gt;&lt;br&gt;&lt;br&gt;
&lt;p style=&quot;width: 100%; background-color: rgb(16, 176, 240); color: white;&quot;&gt;&lt;br&gt;Learn how to ace Algebra questions on Test Day!&lt;br&gt;&lt;br&gt;&lt;/p&gt;

&lt;p style=&quot;margin:5px&quot;&gt;

&lt;ul&gt;
	&lt;li&gt;8 timed mini quizzes&lt;/li&gt;
	&lt;li&gt;Quizzes include 40 mixed difficulty Algebra questions&lt;/li&gt;
	&lt;li&gt;Full answers &amp;amp; explanations taught by certified Kaplan teachers&lt;/li&gt;
&lt;/ul&gt;
&lt;/p&gt;
&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;
&lt;p&gt;&lt;a style=&quot;background-color: #8AC007;border: 1px solid #AAAAAA;border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0;
    padding: 3px 10px 4px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; Get all 8 quizzes &amp;nbsp;&amp;nbsp; &amp;nbsp;&amp;nbsp; &lt;/a&gt;&lt;/p&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;/div&gt;
</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_Geometry.png</string>
			<key>DownloadUrl</key>
			<string>http://kaplan.arcadia-apps.com/_download/arith.tar</string>
			<key>RequireDownload</key>
			<true/>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_geometry</string>
			<key>ProblemSets</key>
			<array>
				<string>1201</string>
				<string>1202</string>
				<string>1203</string>
				<string>1204</string>
				<string>1205</string>
				<string>1206</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Geometry Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Math</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Logic+Data Practice Pack</string>
				<key>Text</key>
				<string>&lt;nav&gt;&lt;ul&gt;
	&lt;li&gt;8 timed mini quizzes&lt;/li&gt;
	&lt;li&gt;Quizzes include 40 mixed difficulty Algebra questions&lt;/li&gt;
	&lt;li&gt;Full answers &amp;amp; explanations taught by certified Kaplan teachers&lt;/li&gt;
&lt;/ul&gt;&lt;/nav&gt;</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_LogicData.png</string>
			<key>RequireDownload</key>
			<true/>
			<key>DownloadUrl</key>
			<string>kaplan.arcadia-apps.com/_download/arith.tar</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_logicdata</string>
			<key>ProblemSets</key>
			<array>
				<string>1208</string>
				<string>1209</string>
				<string>1210</string>
				<string>1211</string>
				<string>1212</string>
				<string>1213</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Logic+Data Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Math</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Word Problem Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_MathWord.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_mathword</string>
			<key>ProblemSets</key>
			<array>
				<string>1182</string>
				<string>1183</string>
				<string>1188</string>
				<string>1207</string>
				<string>1186</string>
				<string>1187</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Word Problem Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Math</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Math Challenge Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$1.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_Challenge.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_mathchl</string>
			<key>ProblemSets</key>
			<array>
				<string>1214</string>
				<string>1215</string>
				<string>1217</string>
				<string>1218</string>
				<string>1216</string>
				<string>1219</string>
				<string>1220</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Math Challenge Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Math</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Vocabulary Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_WordProblem.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_wordproblem</string>
			<key>ProblemSets</key>
			<array>
				<string>1250</string>
				<string>1251</string>
				<string>1252</string>
				<string>1253</string>
				<string>1254</string>
				<string>1255</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Vocabulary Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Reading</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Short Passage Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_ShortPassages.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_shortpassage</string>
			<key>ProblemSets</key>
			<array>
				<string>1256</string>
				<string>1257</string>
				<string>1258</string>
				<string>1259</string>
				<string>1268</string>
				<string>1260</string>
				<string>1261</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Short Passage Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Reading</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Long Passage Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_LongPassages.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_longpassage</string>
			<key>ProblemSets</key>
			<array>
				<string>1262</string>
				<string>1263</string>
				<string>1264</string>
				<string>1265</string>
				<string>1266</string>
				<string>1267</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Long Passage Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Reading</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Reading Challenge Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$1.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_Challenge.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_readingchl</string>
			<key>ProblemSets</key>
			<array>
				<string>1269</string>
				<string>1270</string>
				<string>1271</string>
				<string>1272</string>
				<string>1273</string>
				<string>1274</string>
				<string>1275</string>
				<string>1276</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Reading Challenge Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Reading</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Improving Paragraphs Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_ImprovingParagraphs.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_improvingpara</string>
			<key>ProblemSets</key>
			<array>
				<string>1234</string>
				<string>1235</string>
				<string>1236</string>
				<string>1237</string>
				<string>1238</string>
				<string>1239</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Improving Paragraphs Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Writing</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Improving Sentence Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_ImprovingSentence.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_improvingsentence</string>
			<key>ProblemSets</key>
			<array>
				<string>1228</string>
				<string>1229</string>
				<string>1230</string>
				<string>1231</string>
				<string>1232</string>
				<string>1233</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Improving Sentence Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Writing</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Sentence Error Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$0.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_SentenceErrors.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_sentenceerrors</string>
			<key>ProblemSets</key>
			<array>
				<string>1222</string>
				<string>1223</string>
				<string>1224</string>
				<string>1225</string>
				<string>1226</string>
				<string>1227</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Sentence Error Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Writing</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>AboutPage</key>
			<dict>
				<key>Title</key>
				<string>Writing Challenge Practice Pack</string>
				<key>Text</key>
				<string>say something here</string>
			</dict>
			<key>Local</key>
			<false/>
			<key>WebAppUnlocked</key>
			<false/>
			<key>Difficulty</key>
			<string>mix</string>
			<key>Price</key>
			<string>$1.99</string>
			<key>Bought</key>
			<false/>
			<key>Icon</key>
			<string>Pkg_Challenge.png</string>
		</dict>
		<key>Data</key>
		<dict>
			<key>PackageSetName</key>
			<string>pkg_writingchl</string>
			<key>ProblemSets</key>
			<array>
				<string>1240</string>
				<string>1247</string>
				<string>1241</string>
				<string>1242</string>
				<string>1248</string>
				<string>1244</string>
				<string>1245</string>
				<string>1246</string>
			</array>
		</dict>
		<key>Name</key>
		<dict>
			<key>ProblemSetName</key>
			<string>Writing Challenge Practice Pack</string>
			<key>ExamSectionName</key>
			<string>Writing</string>
			<key>ExamName</key>
			<string>SAT</string>
		</dict>
	</dict>
</array>
</plist>
